.landing{
    position: relative;
    display: flex;
    height: 100vh;
    overflow: hidden;
  background-color: #000011;

    img{
      object-fit: cover;
    }
    
    .sliderContainer{
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      font-size: clamp(2rem, 30vw, 10rem);
    }
    
    .slider{
      // width: 100vw;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      // white-space: nowrap;
    }
    
    .slider p{
      position: relative;
      margin: 0px;
      color: white;
      // font-size: 230px;
      font-weight: 500;
      // padding-right: 16px;
    }
    
    
  
    .description{
      position: absolute;
      top: 25%;
      left: 65%;
      color: white;
      font-size: 24px;
      font-weight: 300;
      p{
        margin: 0px;
        margin-bottom: 10px;
      }
      svg{
        transform: scale(2);
        margin-bottom: 20px;
      }
    }
  }
  
.landing-text {
  text-align: center;
  margin: 0;
  padding: 0;
  color: white;
}
  
